
*{
    margin: auto;
}

body {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center;
    height:auto;
    background-attachment: fixed;
    background-size: cover;
}
.poster {
    padding-left: 40px;
    margin-bottom: 260px;
    border-radius: 10px;
    


}

.equipo {
       color: #e9ecef;

}
.logo {
     justify-content: center;
     
    
}

.navbar {
    padding: 2rem;
    background-color:transparent;
    
}

.nav-link {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
    justify-content: center;
}
.dropdown-menu {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-color: transparent;
       
      }

.collapse-navbar-collapse {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
}
.navbar-toggler {
    color:white;
    
    
}

.navbar-collapse {
    align-items: center;
    justify-content:space-between;
    
}

.nav-link.active {
    color: white;
    background-color: transparent;

}
.contacto {
      color:white;
      font-size: 20px;
      text-align: center; 
      text-decoration: none;  
}

.contacto:hover{
    color:orangered
}
.btn {
    background-color:orangered;
    color: white;
    border-color: transparent;
}
.btn:hover {
    background-color: black;
}
.d-block-w-100{
    font-family: Arial, "Helvetica", sans-serif;
    color: orangered;
}

.fender {

    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center; 
    height: 1200px;
    background-attachment: fixed;
    background-size:cover
}
.imgnormalizada img {
    width: auto;
    height: 500px;
    max-height: 500px;
    border-radius: 20px;
}
.carousel-inner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.encabezados {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.article {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}


  
.article img {
    width: 100%;
    
  }
.feria img {
    height: auto;
  }

.articulos {
    background-color:transparent;
    opacity:20%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}    



.copyright {
    font-family: Helvetica; color: white;margin-block: 20px; margin-left: 40px;
    font-size: 10pt;

}
.logo {
    margin-top: 40px;
    margin-left: 30px;
}
.logo-footer {
    margin-block: 10px; 
    margin-left: 40px; 

}

.redes-sociales {
    margin-block: 20px; 
    margin-left: 1100px; 
}

img {
    padding-left: 10px;
    padding-right: 10px;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e9ecef;

}

.nav-link:hover {
    color:orangered;
}


  