
*{
    margin: auto;
}

body {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center;
    height:auto;
    background-attachment: fixed;
    background-size: cover;
}
.poster {
    padding-left: 40px;
    margin-bottom: 260px;
    border-radius: 10px;
    


}

.equipo {
       color:white;

}

.navbar {
    padding: 2rem;
    background-color:transparent;
    
}
.nav-link {
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 19px;
    color: white;
    justify-content: center;
}
.nav-link-active {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    font-size: 19px;
    color: white;
    justify-content: center;
}
.dropdown-menu {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: white;
       
}

.collapse-navbar-collapse {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
}


.navbar-toggler {
    color:white;
    
    
}

.navbar-collapse {
    align-items: center;
    justify-content:space-between;
    
}

.contacto {
      color:white;
      font-size: 19px;
     
      text-align: center;
      
}

.btn {
    background-color:orangered;
    color: white;
    



}

.fender {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center; 
    height: 1200px;
    background-attachment: fixed;
    background-size:cover
}


.articulos {
    background-color:transparent;
    opacity:20%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.frase {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 120px;
    font-stretch: normal;
    
}





.logo-footer {
    margin-block: 10px; 
    margin-left: 40px; 

}

.redes-sociales {
    margin-block: 20px; 
    margin-left: 1100px; 
}

img {
    padding-left: 10px;
    padding-right: 10px;

}

.logo{
    display: flex;
    object-fit: contain;
}

.img{
    align-self: center;
    width: 10%;
    height: 5em;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e9ecef;

}

.nav-link.active {
    background-color: black;

}
.boton-form {
    background-color: orangered;
    border-radius: 15px;
    font-size: 15pt;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.input1 {
    background-color: white;
    border-radius: 8px;
    margin: 2px;
    padding-left: 1cm;
    font-family: 'Courier New', Courier, monospace;
    align-items:center;

}
input.type1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    align-items: center;

}
.input-text {
    background-color: white;
    border-radius: 8px;
    padding: 3rem;
    margin: 2px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    

}

.form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    width: 60%;
    height: 40px;
    margin: 0.5rem;
  }
  
  .form button {
    padding: 0.5em 1em;
    border: none;
    background-color: orangered;
    cursor: pointer;
  }
  
  .footer {
    background-color: transparent;
  }
  .text-white{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    opacity: 40%;
  }