*{
    margin: 0;
}

h1 {
    text-align: center;
    font-family:  'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: rgb(24, 239, 175);
    -moz-box-flex: initial; background-color: rgb(22, 145, 216);
}

.fender {
   
}