*{
    margin: auto;
}

body {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center;
    height:auto;
    background-attachment: fixed;
    background-size: cover;
}
.poster {
    padding-left: 40px;
    margin-bottom: 260px;
    border-radius: 10px;
    
}
.navbar {
    padding: 2rem;
    background-color:transparent;
    
}
.nav-link {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
    justify-content: center;
}
.dropdown-menu {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
       
      }

.collapse-navbar-collapse {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
}


.navbar-toggler {
    color:white;
    
    
  }

.navbar-collapse {
    align-items: center;
    justify-content:space-between;
    
}
.btn {
    background-color:orangered;
    color: white;
    



}

.fender {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center; 
    height: 1200px;
    background-attachment: fixed;
    background-size:cover
}


.articulos {
    background-color:transparent;
    opacity:20%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}    




.frase {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 120px;
    font-stretch: normal;
    
}



.copyright {
    font-family: Helvetica; color: white;margin-block: 20px; margin-left: 40px;
    font-size: 10pt;

}
.logo-footer {
    margin-block: 10px; 
    margin-left: 40px; 

}

.redes-sociales {
    margin-block: 20px; 
    margin-left: 1100px; 
}

img {
    padding-left: 10px;
    padding-right: 10px;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e9ecef;
}